@import "compass/reset";
@import "compass/css3";

body {
  background-color: HSL(36, 28%, 93%);
  padding-top: 80px;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  //position: relative;
  z-index: 1;
  min-height: 1024px;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-grvpaa');
  src: url('../fonts/icomoon.eot?#iefix-grvpaa') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-grvpaa') format('woff'),
  url('../fonts/icomoon.ttf?-grvpaa') format('truetype'),
  url('../fonts/icomoon.svg?-grvpaa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* mixin part */

/* for draw circle */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* square shape, with same height and width*/
@mixin square-size($side) {
  width: $side;
  height: $side;
  display: inline-block;
}

@mixin placeholder($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

/* global variable*/

$header-height: 80px;
$font-size: 20px;
$global-nav-height: 80px;
$normal-icon-size: 16px;
// for small icon
$large-icon-size: 20px;
// for larger icon
$content-background: #F2EEE8;
$left-side-width: 280px;
$left-side-blue: #81A8CA;
$circle-icon-radius: 20px;
$font-color: white;

//header
.top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  height: $header-height;
  background-color: black;
  width: 100%;
  .left {
    float: left;
  }
  .middle {
    margin-left: $header-height;
    margin-right: 10%;
    margin-left: 120px;
    display: inline-block;
    a {
      font-size: 1.2rem;
      color: #F2EEE8;
      text-decoration: none;
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
        line-height: $header-height;
        margin-right: 40px;
      }
    }

  }

  .right {
    a {
      font-size: 1rem;
      color: black;
    }
    float: right;
    height: $header-height;
    ul {
      display: inline-block;
      margin-right: 20px;
      li {
        display: inline-block;
        line-height: $header-height;
        text-align: center;
        a {
          background-color: #F2EEE8;
          text-decoration: none;
          padding: 10px 30px;
          border: solid 1px;
          margin-right: 10px;
          border-radius: 10px;
        }
        .log-out {
          background-color: #766DCC;
        }
      }
    }
  }
  img {
    height: 80px;
    width: 80px;
  }
  span {
    line-height: 80px;
    color: whitesmoke;
    font-size: 2rem;
  }
}

.main {
  .about-us img {
    height: 70px;
    width: 70px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    margin-left: 46.7%;
    margin-top: 20px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s ease-in;
  }
  .about-us img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .about-us {
    height: 300px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    li {
      display: inline-block;
    }
    img {
      display: inline-block;
    }
    li:nth-of-type(1) {
      background-color: #EDEDED;
      width: 50%;
      height: 100%;
    }
    li:nth-of-type(2) {
      background-color: #EFD26C;
      width: 50%;
      height: 100%;
    }
    span {
      font-size: 1rem;
      color: whitesmoke;
    }
    .show:hover {
      z-index: 9;
    }
  }

  //.seasons {
  //  position: relative;
  //  z-index: 1;
  //
  //  ul {
  //    background-color: #766DCC;
  //    height: 200px;
  //  }
  //
  //  span {
  //    font-size: 1.5rem;
  //    display: block;
  //    margin-left: 46.9%;
  //    color: whitesmoke;
  //    margin-bottom: 20px;
  //  }
  //p {
  //  color: red;
  //  font-size: 1.5rem;
  //  text-align: center;
  //  line-height: 140%;
  //}
  //}

  //.nav-season {
  //  :first-child {
  //    margin-top: 50px;
  //    margin-left: 46.7%;
  //  }
  //  a {
  //    display: inline-block;
  //    color: transparent;
  //    height: 10px;
  //    width: 10px;
  //    border: 2px solid rgba(255, 255, 255, 0.42);
  //    border-radius: 50%;
  //    margin-right: 5px;
  //    text-align: center;
  //  }
  //  width: 100%;
  //  display: inline-block;
  //  li {
  //    display: inline-block;
  //  }
  //}

  .gogogo {
    li {
      height: 500px;
      background-color: #FFFFFF;
      position: relative;

      .dali {
        margin-left: 30%;
      }
      h1 {
        text-align: right;
        font-size: 1.5rem;
        margin-right: 50px;
      }
      li:nth-of-type(1) {
        height: 200px;
        position: absolute;
        right: 50%;
      }
      li:nth-of-type(2) {
        height: 200px;
        position: absolute;
        left: 50%;
      }
    }
    .chap {
      border-bottom: solid 1px lightgray;
    }
  }
}

.hidden {
  visibility: hidden;
}

.active {
  visibility: visible;
}

.anchor {
  display: block;
  height: $header-height;
  margin-top: -$header-height;
  visibility: hidden;
}

.season-slider-pagination {
  padding-top: 50px;
  padding-bottom: 1.2em;
  position: relative;
  z-index: 1;
}

.season-slider-pagination li{
  display: inline-block;
  margin-right: .5em;
}

.season-slider-pagination li:last-child {
  margin-right: 0;
}

.season-slider-pagination a {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 10px;
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.42);
  border-radius: 50%;
  cursor: pointer;
}

.season-slider-pagination li.season-active a {
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

.season-control-nav a.nc-active {
  border-color: #766dcc;
  background-color: #766dcc;
}

/* golbal tag style */

@media screen and (min-width: 1300px) {
  .global-nav .container {
    text-align: center;
    margin: auto;
  }

  .content {
    .profile-status, .stream-container {
      width: 700px;
      margin: 40px auto 0;
    }
  }
}

.image_stack img {
  border: none;
  text-decoration: none;
  margin-left: 0px;
  width: 158px;
  height: 158px;
}

.image_stack {
  width: 400px;
  position: absolute;
  margin: 60px 10px 10px;
}

.image_stack img {
  position: absolute;
  border: 4px solid #FFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.image_stack .photo1 {
  top: 8px;
  left: 108px;
}

.image_stack .photo2 {
  top: 6px;
  left: 104px;
}

.image_stack .photo3 {
  top: 4px;
  left: 100px;
  right: 100px;
}

.image_stack .rotate1 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.image_stack .rotate2 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.image_stack .rotate3 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  cursor: pointer;
}

ul#pics li {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 1px #999999;
  display: inline-block;
  width: 153px;
  height: 157px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

ul#pics li img {
  width: 150px;
  height: 150px;
  display: block;
}

ul#pics li:hover {
  -moz-transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -o-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
  transform: scale(1.1) rotate(0deg);
}

.single_photo {
  margin-top: 80px;
  margin-left: 100px;

  margin-top: 65px;
}

.seasons {
  background: #766ACF;
  text-align: center;
  position: relative;
  height: 500px;
}

.seasons::before, .seasons::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 60px;
  left: 0;
  background-color: rgba(118, 109, 204, 0);
}

.seasons::before {
  top: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(118, 109, 204, 0), rgba(118, 109, 204, 0.7));
  background-image: linear-gradient(to top, rgba(118, 109, 204, 0), rgba(118, 109, 204, 0.7));
}

.seasons::after {
  bottom: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(118, 109, 204, 0.7), rgba(118, 109, 204, 0));
  background-image: linear-gradient(to top, rgba(118, 109, 204, 0.7), rgba(118, 109, 204, 0));
}

.seasons .seasons-slider {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.seasons .seasons-slider::after {
  clear: both;
  content: "";
  display: table;
}

.seasons .seasons-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.4em 0;
}

.seasons .season li {
  line-height: 1.3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.seasons .season li:first-child {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.15em;
}

.seasons .season li:last-child {
  font-size: 1.3rem;
  color: #312977;
}

.seasons .season-info {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.seasons .season-active-slide .season-info {
  opacity: 1;
}

.seasons .move-left .season-info {
  opacity: 0;
}

.seasons img {
  height: 70px;
  width: 70px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(2000px) rotateY(-180deg);
  -moz-transform: perspective(2000px) rotateY(-180deg);
  -ms-transform: perspective(2000px) rotateY(-180deg);
  -o-transform: perspective(2000px) rotateY(-180deg);
  transform: perspective(2000px) rotateY(-180deg);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.seasons .season-active-slide img {
  -webkit-transform: perspective(2000px) rotateY(0);
  -moz-transform: perspective(2000px) rotateY(0);
  -ms-transform: perspective(2000px) rotateY(0);
  -o-transform: perspective(2000px) rotateY(0);
  transform: perspective(2000px) rotateY(0);
}

.seasons .move-left img {
  -webkit-transform: perspective(2000px) rotateY(180deg);
  -moz-transform: perspective(2000px) rotateY(180deg);
  -ms-transform: perspective(2000px) rotateY(180deg);
  -o-transform: perspective(2000px) rotateY(180deg);
  transform: perspective(2000px) rotateY(180deg);
}

.seasons .hide-avatar img {
  opacity: 0;
}

.seasons p {
  font-size: 3rem;
  padding: 2em 3em 3.2em;
  line-height: 1.3;
  max-width: 1100px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.seasons .season-active-slide p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s, opacity 0s;
  -moz-transition: -moz-transform 0.4s, opacity 0s;
  transition: transform 0.4s, opacity 0s;
}

.seasons .move-left p {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.seasons p, .seasons .season li {
  text-shadow: 0 0px 2px rgba(118, 109, 204, 0.11);
}

@media screen and (max-width: 1299px) {
  .content {
    .profile-status, .stream-container {
      width: 90%;
      margin: 40px auto 0;
    }

    ul li a span {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 980px) {
  .content {
    right: 0;
    .profile-status, .stream-container {
      margin: 40px 0 0 auto;
    }

    ul li a span {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 750px) {
    .top-bar {
      .global-actions li {
        display: none;
        &:first-child {
          display: inline-block;
        }
      }

      .pull-right {
        .search .form-search {
          display: none;
        }
      }
    }

    .left-aside {
      display: none;
    }

    .content {
      left: 0;
      right: 0;

      .profile-status {
        background-color: white;
        width: 100%;
        height: 100%;

        ul li {
          display: block;
          a span {
            font-weight: normal;
          }
        }
      }

      .stream-container {
        background-color: white;
        width: 100%;
      }
    }

    .dashboard-right {
      display: none;
    }
  }
}
