/* line 5, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background-color: HSL(36, 28%, 93%);
  padding-top: 80px;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/style.scss */
.main {
  z-index: 1;
  min-height: 1024px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-grvpaa");
  src: url("../fonts/icomoon.eot?#iefix-grvpaa") format("embedded-opentype"), url("../fonts/icomoon.woff?-grvpaa") format("woff"), url("../fonts/icomoon.ttf?-grvpaa") format("truetype"), url("../fonts/icomoon.svg?-grvpaa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* mixin part */
/* for draw circle */
/* square shape, with same height and width*/
/* global variable*/
/* line 73, ../sass/style.scss */
.top-bar {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: black;
  width: 100%;
}
/* line 79, ../sass/style.scss */
.top-bar .left {
  float: left;
}
/* line 82, ../sass/style.scss */
.top-bar .middle {
  margin-left: 80px;
  margin-right: 10%;
  margin-left: 120px;
  display: inline-block;
}
/* line 87, ../sass/style.scss */
.top-bar .middle a {
  font-size: 1.2rem;
  color: #F2EEE8;
  text-decoration: none;
}
/* line 92, ../sass/style.scss */
.top-bar .middle ul {
  display: inline-block;
}
/* line 94, ../sass/style.scss */
.top-bar .middle ul li {
  display: inline-block;
  line-height: 80px;
  margin-right: 40px;
}
/* line 103, ../sass/style.scss */
.top-bar .right {
  float: right;
  height: 80px;
}
/* line 104, ../sass/style.scss */
.top-bar .right a {
  font-size: 1rem;
  color: black;
}
/* line 110, ../sass/style.scss */
.top-bar .right ul {
  display: inline-block;
  margin-right: 20px;
}
/* line 113, ../sass/style.scss */
.top-bar .right ul li {
  display: inline-block;
  line-height: 80px;
  text-align: center;
}
/* line 117, ../sass/style.scss */
.top-bar .right ul li a {
  background-color: #F2EEE8;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px;
  margin-right: 10px;
  border-radius: 10px;
}
/* line 125, ../sass/style.scss */
.top-bar .right ul li .log-out {
  background-color: #766DCC;
}
/* line 131, ../sass/style.scss */
.top-bar img {
  height: 80px;
  width: 80px;
}
/* line 135, ../sass/style.scss */
.top-bar span {
  line-height: 80px;
  color: whitesmoke;
  font-size: 2rem;
}

/* line 143, ../sass/style.scss */
.main img {
  height: 70px;
  width: 70px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  margin-left: 46.7%;
  margin-top: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s ease-in;
}
/* line 156, ../sass/style.scss */
.main img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 160, ../sass/style.scss */
.main .about-us {
  height: 300px;
  display: inline-block;
  width: 100%;
}
/* line 164, ../sass/style.scss */
.main .about-us li {
  display: inline-block;
}
/* line 167, ../sass/style.scss */
.main .about-us img {
  display: inline-block;
}
/* line 170, ../sass/style.scss */
.main .about-us li:nth-of-type(1) {
  background-color: #EDEDED;
  width: 50%;
  height: 100%;
}
/* line 175, ../sass/style.scss */
.main .about-us li:nth-of-type(2) {
  background-color: #EFD26C;
  width: 50%;
  height: 100%;
}
/* line 180, ../sass/style.scss */
.main .about-us span {
  font-size: 1rem;
  color: whitesmoke;
}
/* line 187, ../sass/style.scss */
.main .seasons ul {
  background-color: #766DCC;
  height: 200px;
}
/* line 192, ../sass/style.scss */
.main .seasons span {
  font-size: 1.5rem;
  display: block;
  margin-left: 46.9%;
  color: whitesmoke;
  margin-bottom: 20px;
}
/* line 199, ../sass/style.scss */
.main .seasons p {
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  line-height: 140%;
}
/* line 208, ../sass/style.scss */
.main .nav-season {
  width: 100%;
  display: inline-block;
}
/* line 209, ../sass/style.scss */
.main .nav-season :first-child {
  margin-top: 50px;
  margin-left: 46.7%;
}
/* line 213, ../sass/style.scss */
.main .nav-season a {
  display: inline-block;
  color: transparent;
  height: 10px;
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.42);
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}
/* line 225, ../sass/style.scss */
.main .nav-season li {
  display: inline-block;
}

/* golbal tag style */
@media screen and (min-width: 1300px) {
  /* line 234, ../sass/style.scss */
  .global-nav .container {
    text-align: center;
    margin: auto;
  }

  /* line 240, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    width: 700px;
    margin: 40px auto 0;
  }
}
@media screen and (max-width: 1299px) {
  /* line 249, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    width: 90%;
    margin: 40px auto 0;
  }
  /* line 254, ../sass/style.scss */
  .content ul li a span {
    font-size: 14px;
  }
}
@media screen and (max-width: 980px) {
  /* line 261, ../sass/style.scss */
  .content {
    right: 0;
  }
  /* line 263, ../sass/style.scss */
  .content .profile-status, .content .stream-container {
    margin: 40px 0 0 auto;
  }
  /* line 267, ../sass/style.scss */
  .content ul li a span {
    font-size: 12px;
  }
}
@media screen and (max-width: 980px) and (max-width: 750px) {
  /* line 274, ../sass/style.scss */
  .top-bar .global-actions li {
    display: none;
  }
  /* line 276, ../sass/style.scss */
  .top-bar .global-actions li:first-child {
    display: inline-block;
  }
  /* line 282, ../sass/style.scss */
  .top-bar .pull-right .search .form-search {
    display: none;
  }

  /* line 288, ../sass/style.scss */
  .left-aside {
    display: none;
  }

  /* line 292, ../sass/style.scss */
  .content {
    left: 0;
    right: 0;
  }
  /* line 296, ../sass/style.scss */
  .content .profile-status {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  /* line 301, ../sass/style.scss */
  .content .profile-status ul li {
    display: block;
  }
  /* line 303, ../sass/style.scss */
  .content .profile-status ul li a span {
    font-weight: normal;
  }
  /* line 309, ../sass/style.scss */
  .content .stream-container {
    background-color: white;
    width: 100%;
  }

  /* line 315, ../sass/style.scss */
  .dashboard-right {
    display: none;
  }
}
